a{
  color: #eee!important;
}
.navbar-default{
  background:rgba(255,255,255,0.1);

}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  z-index: 1;
  
}
.navbar-nav li a{
 color: ;
}
.navbar-right li a{
  display: block;
  height: 30px;
  margin-top: 10px;
  line-height: 0px;
  margin-right: 20px;
}
.dorpdown{
  color: #517fec!important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #517fec!important;
}
.btn-white{
  background-color: #eee;
  color: #517fec!important;
}
.btn-white:hover{
  background-color: #eee!important;
  color: #517fec!important;
  border: 1px solid;
}
.btn-white2{
  background-color: #517fec!important;
}
.btn-white2:hover{
  background-color: #eee!important;
  color: #517fec!important;
}
.container-fluid{
  width: 60%;
}

.banner{
  background:url(../img/hero.jpg);
  height: 60vh;
  width: 100%;
 position: relative;
 top: -50px;
 z-index: 0;
}
.outer-bg .inner-bg {
  height: 100%;
  width: 100%;
  background-size: 100% 100%!important;
  background-repeat: no-repeat;
  background-position: center;
  transition: all .3s ease-in-out;
}
.imgbanner{margin-bottom: 10px;}
.text-align{
  text-align: center;
}
.title{
  position: relative;
  top: 10%;
  
}
.title h1{
  font-size: 4vw;
  color: #eee;
}
.smtitle{
  position: relative;
  top:15%;
}
.smtitle h3{
  color: #eee;
}
.search{
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 25%;
}
.search input{
  width: 100%;
  height:40px;
  margin: 10px 10px -10px 10px;
  
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 20px;
}
.icon{
  font-size: 60px;
}
.form-group{
  width: 40%;
}
.section{
  padding-top: 6rem;
}
.font-weight-bold{
  font-weight:500!important;
}
.lead{
  margin-top: 20px;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.6;
}
.card{
  width: 100%;
  position: relative;
  background-color: rgb(255, 255, 255);
}
.carddown{
  padding-top: 20px;
}
.carddown p{
  text-align: left;
}
.cardbtn{
  position: relative;
  float: right;
  top: -50px;
}
.card.img-card {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.card {
  position: relative;
}
.fh-400 {
  height: 400px!important;
}
.outer-bg {
  position: relative;
  overflow: hidden;
}
.border-0 {
  border: 0!important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: .0625rem solid rgba(243,247,250,.05);
  border-radius: .125rem;
}
.acton{
  display: block;
}
.h1{
  display: block;
  height: 60px;
  margin-top: 40px;
}
.contant{
  width: 70%;
  margin:0 auto;
  font-size: 24px;
  margin-bottom: 50px;
}
.cbtn{
  margin: 0 100px 0 100px;
  margin-bottom: 50px; 
}
.footer {
  display: flex;
  position: relative;
  background-color: #2a354f!important;
  align-items: center;

}
.text-white{
  color: #fff;
}
.footer ul.links-vertical{
  padding: 0px;
}
.footer ul.links-vertical li{
  margin-bottom: 5px;
}
.font-weight-normal{
  font-weight: 400!important;
}
.footer .copyright {
  font-size: .875rem;
  margin:0 auto;
  color: #eee;
}
.text-center {
  text-align: center!important;
}
.text-center {
  text-align: center!important;
}
.mt-5, .my-5 {
  margin-top: 3rem!important;
}
nav div ul li a{
  display: inline-block!important;
}
nav div ul li i{
  color: #eee;
}
@media (min-width: 768px){
.navbar {
    border:none;
    border-radius:0px!important;
}
}